@import url('https://fonts.googleapis.com/css2?family=Inter&family=Sriracha&display=swap');

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration-line: none;
  color: white;
  font-family: 'Inter';
}

body {
  background-color: hsla(213, 100%, 79%, 1);
}

header {
  background-color: hsla(202, 57%, 60%, 1);
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
}

.account {
  display: flex;
  justify-content: flex-end;
}

.log-in, .sign-in {
  background-color: hsla(213, 100%, 79%, 1);
  margin:  10px 10px 0px 10px;
  padding: 5px;
  border-radius: 10px; 
}

.log-in:hover, .sign-in:hover {
  box-shadow: 0 0 1em white;
}

.logo {
  display: flex;
  justify-content: center;
  font-family: 'Permanent Marker', cursive;
  color: whitesmoke;
}

.navbar {
  display: flex;
  justify-content: center;
}

.navbar a {
  color: black;
  background-color: white;
  margin: 5px;
  padding: 5px;
  border-radius: 10px; 
}

.navbar a:hover {
  box-shadow: 0 0 1em white;
}

.services {
  margin: 222px 20px 20px 20px;
  background-color: hsla(202, 57%, 60%, 1);
  border-radius: 10px;
  box-shadow: 0 0 1em black;
}

.products {
  margin: 40px 20px 20px 20px;
  background-color: hsla(202, 57%, 60%, 1);
  border-radius: 10px;
  box-shadow: 0 0 1em black;
}

.servicestitle {
  display: flex;
  justify-content: center;
  font-family: 'Permanent Marker', cursive;
  color: white;
  margin-top: 10px;
}

.servicesimages{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
}

.service {
  margin: 10px;
  display: flex;
  justify-content: center;
}

.service img {
  width: 300px;
  height: 200px;
}

footer {
  margin: 40px 20px 20px 20px;
  background-color: hsla(202, 57%, 60%, 1);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 1em black;
}

footer .info {
  margin: 40px 20px 20px 40px;
  background-color: hsla(202, 57%, 60%, 1);
  border-radius: 10px;
  font-family: 'Inter';
  color: white;
}

.list li{
  margin-bottom: 5px;
}

footer iframe {
  margin: 10px;
  width: 300px;
  height: 200px; 
}

@media (max-width: 650px){
  footer {
    display: block;
  }
}

.orcamento {
  margin: 220px 20px 20px 20px;
  background-color: hsla(202, 57%, 60%, 1);
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 1em black;
}

.formtitle {
  margin-bottom: 30px;
  font-family: 'Inter';
  color: white;
}

.formfont {
  font-family: 'Inter';
  color: white;
}

form div+div {
  margin: 10px;
}

.formbutton {
  margin: 20px;
}